.height_App {
	height: 100vh;
	background-color: rgb(202, 202, 202);
}

.bordRed {
	width: 300px;
	height: 300px;
	display: flex;
	background-color: antiquewhite;
	border-radius: 30px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
